@{
    Layout = "~/Views/Shared/_ExternalLayout.cshtml";
}
<div style="float:right">
    <marquee behavior="scroll" direction="left">
        <p>
            <h2 class="success"><b><i>Check your email to reset your password.</i></b></h2>
        </p>
    </marquee>
</div>
<div class="login-logo" style="float:left">
    <h1><img src="~/Images/bb_logo.JPG" width="200" height="90"></h1>
</div>
