@model The_Book.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_ExternalLayout.cshtml";
}
<!DOCTYPE html>
<html>
  <body>
    <section class="login-content">
        <div class="login-logo">
            <h1><img src="~/Images/bb_logo.JPG" width="200" height="90"></h1>
        </div>
        <div class="login">
                <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>Forgot Password ?</h3>
                <br />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label">EMAIL</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                    </div>
                    <div class="form-group btn-container">
                        <button class="btn btn-primary btn-block">RESET<i class="fa fa-unlock fa-lg"></i></button>
                    </div>
                    <div class="form-group">
                        <div class="utility">
                            <p class="semibold-text mb-0"><a href="~/Account/Login"><i class="fa fa-angle-left fa-fw"></i> Back to Login</a></p>
                        </div>
                    </div>
                }
        </div>
    </section>
  </body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}