@{
    Layout = "~/Views/Shared/_ExternalLayout.cshtml";
}
<body class="text-capitalize">
    <div class="content">
        <a href="http://linkedin.com/in/innocent-skhumbuzo-ngobese-5697a6129"><i class="fa fa-linkedin-square"></i></a>
        <p>Educational System for High Schools by Skhumbuzo Ngobese.</p>
        <p>For Practical Purposes.</p>
    </div>
</body>