@{
    Layout = "~/Views/Shared/_ExternalLayout.cshtml";
}

<body class="text-capitalize">
    <div class="content">
        <address>
            Roodepoort<br />
            Gauteng<br />
            <abbr title="Phone">P:</abbr>
            064 061 7805
        </address>

        <address>
            <strong>Email:</strong>   <a href="mailto:i.skngobese@live.co.za">i.skngobese@live.co.za</a><br />
        </address>
    </div>
</body>